<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Hospital Web has all the characteristics of a world-class hospital with wide range of services and specialists, equipments and technology, ambience and service quality.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Services</h6>
          <ul class="footer-links">
            <li><a>Specialized Services</a></li>
            <li><a>Immunization (Vaccination)</a></li>
            <li><a>Nursing. Paramedical Services</a></li>
            <li><a>Health and allied Services</a></li>
            <li><a>Utilities & Allied Services</a></li>
            <li><a>Hospital Facility</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/doctors">Find Doctors</a></li>
            <li><a href="/departments">Departments</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contacu Us</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2025 All Rights Reserved by 
       <a href="#">Nafiz Ahmed</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>